{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" />
    
    {# Load the tag library #}
    {% load bootstrap5 %}
    
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}


    {% block css %}
    <!-- CUSTOM CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% endblock %}
    
    {% block js %}
    
    {% endblock %}
</head>
<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
    {% block body %}

    {% block header %}
        {% include 'base/header.html' %}
    {% endblock header %}

    {% block menu %}
        {% include 'base/main-menu.html' %}
    {% endblock menu %}
        <br><HR>
            {% block content %}
            {% endblock content %}

            {% include 'base/footer.html' %}
            {% include 'base/scripts.html' %}
    {% endblock body %}
</body>
</html>