{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}

    {# Load the tag library #}
    {% load bootstrap5 %}
    
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}


    {% block css %}
    
    {% endblock %}
    
    {% block js %}
    
    {% endblock %}
</head>
<body>
    {% block body %}

    {% block header %}
        {% include 'base/header.html' %}
    {% endblock header %}

    {% block menu %}
        {% include 'base/main-menu.html' %}
    {% endblock menu %}
        <br><HR>
            {% block content %}
            {% endblock content %}

            {% include 'base/footer.html' %}
            {% include 'base/scripts.html' %}
    {% endblock body %}
</body>
</html>