<!-- Главная-> Инструкция к приложению -> Красивый Landing Page
  
если залогиниться:
    Добавить товар в базу данных
    Просмотр товара с подходящими сроками годности(6 дней)
    Просмотр товара с подходящими сроками годности(30 дней)

если Менеджер магазина:
    может списывать товар
    Личный кабинет(Управление):
        Доступ для сотрудников магазина
        выгрузки отчетов

Регистрация

Войти -->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'main_page' %}">Анти-Просрок</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li>
          <a
            class="nav-link mx-2"
            href="{% url 'main_page' %}"
          >
            Начальная
          </a>
        </li>

        {% if user.is_authenticated %}
        <!-- если залогиниться:
        Добавить товар в базу данных
        Просмотр товара с подходящими сроками годности(6 дней)
        Просмотр товара с подходящими сроками годности(30 дней) -->
        <li>
          <a class="nav-link mx-2" href="{% url 'users:edit' %}">
            Профиль: {{ user.username|default:'Пользователь' }}
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link mx-2"
            href="{% url 'market_dashbord:create_food_record' %}"
            >Добавить продукты в магазин</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="{% url 'market_dashbord:show_6_day_food' %}">Товары с ИСГ <= 6 дней</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="{% url 'market_dashbord:show_30_day_food' %}">Товары с ИСГ <= 30 дней</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link mx-2" href="{% url 'users:register' %}"
            >Зарегистрироваться</a
          >
        </li>

        {% endif %}

        <li>
          {% if user.is_authenticated %}
          <a class="nav-link mx-2" href="{% url 'users:logout' %}">Выйти</a>
          {% else %}
          <a class="nav-link mx-2" href="{% url 'users:login' %}">Войти</a>
          {% endif %}
        </li>
        <li>
          <a
            class="nav-link mx-2"
            href="{% url 'market_dashbord:show_contacts' %}"
          >
            Контакты
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link mx-2 dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Дополнительно
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="{% url 'users:register' %}"
                >Зарегистрироваться</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{% url 'market_dashbord:show_all_markets' %}"
                >Список Магазинов</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{% url 'market_dashbord:show_my_market' %}"
                >Выбрать свой магазин</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{% url 'market_dashbord:create_new_market' %}"
                >Добавить свой магазин</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{% url 'market_dashbord:show_write_off' %}"
                >Списанные продукты</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'admin:login' %}"
                >ADMIN panel</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
