<!-- Главное меню -->

<!-- создать магазин -->
<!-- перейти в магазин -->

<!-- Главная-> Инструкция к приложению

если залогиниться:
    Добавить товар в базу данных
    Просмотр товара с подходящими сроками годности(6 дней)
    Просмотр товара с подходящими сроками годности(30 дней)

если Менеджер магазина:
    может списывать товар
    Личный кабинет(Управление):
        Доступ для сотрудников магазина
        выгрузки отчетов

Регистрация

Войти -->
{% load static %}

      <li class="nav-item">
        <a href="{% url 'market_dashbord:show_my_market' %}">Выбрать свой магазин</a
        >
      </li>


      <li class="nav-item">
        <a
          href="#">Просмотр товара с ИСГ = 6 дней</a
        >
      </li>
      <li class="nav-item">
        <a
          href="{% url 'market_dashbord:create_food_record' %}">Добавить продукты в магазин</a
        >
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-4"
          >Просмотр товара с ИСГ = 30 дней
          </a
        >
      </li>

      <li class="nav-item">
        <a href="{% url 'market_dashbord:show_contacts' %}" class="nav-link link-dark px-4"
          >Контакты</a
        >
      </li>
      <ul class="nav">
        <li class="nav-item">
          <a href="{% url 'market_dashbord:show_all_markets' %}">Список Магазинов</a
          >
        </li>
      <li class="nav-item">
        <a href="{% url 'market_dashbord:create_new_market' %}">create_new_market</a
        >
      </li>
    </ul>