<!-- добавлаяем скипты -->
{% load static %}
  <!-- JAVASCRIPTS -->
  <!-- <script src="{% static 'jquery/jquery.min.js' %}"></script> -->
  <!-- <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> -->
  <!-- <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
  <script src="{% static 'plugins/fancybox/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'plugins/syotimer/jquery.syotimer.min.js' %}"></script>
  <script src="{% static 'plugins/aos/aos.js' %}"></script> -->