{% extends "base\base.html" %}

{% load static %}

{% block title %}
    <title>Контакты</title>
{% endblock %}

{% block content %}

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>Продукты с подходящим сроком годности</h1>
				<!-- Page Description -->
                <p>Программный код приложения разрабатываеться с целью повысить качество обслуживания в сетевых магазинах, как ежедневный инструмент работы со сроками годности</p>
                <p>Авторские права и разработчик: Бодров А.В.</p>
                <p>Email : <E-mail>alexvbodrov@mail.ru</E-mail></p>
                
			</div>
		</div>
	</div>
</section>

{% endblock %}