{% extends "base\base.html" %}
{% load static %}

{% block content %}
    <h1 align="center">Продукты с подходящим сроком годности</h1>
    <div align="center">
        <h4> Сегодня: {{ date|date:"l d M Y" }}</h4>
        <br><HR>
    
    {% for market in all_markets %}
    <a href="{% url 'market_dashbord:market_detail' market.number_market %}">
        <li>{{ market.number_market }}</li>
    </a>
    <li>{{ market.adress_market }}</li>
    <br>
    <HR>
    {% endfor %}

    

    </div>
{% endblock %}
