{% extends "base\base.html" %} {% load static %} {% block js %}
<script src="{% static 'js/jquery-1.9.0.min.js' %}"></script>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
{% endblock %} {% block content %}

<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        {% if register_form.errors %}
        <div
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
          style="margin-top: 50px"
        >
          {{ register_form.errors }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="card-header">
            <h3 class="text-center font-weight-light my-4">Создать аккаунт</h3>
          </div>
          <div class="card-body">
            <form
              action="{% url 'users:register' %}"
              method="post"
              enctype="multipart/form-data"
            >
              {% csrf_token %} {{ register_form.as_p }}
              <div class="form-group text-center mt-4 mb-1">
                <input
                  class="btn btn-primary btn-block"
                  type="submit"
                  value="Создать аккаунт"
                />
              </div>
            </form>
          </div>
          <div class="card-footer text-center">
            <div class="small">
              <a href="{% url 'users:login' %}">Уже есть аккаунт? Авторизоваться</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  $(".mask-phone").mask("+7 (999) 999-99-99");
</script>
{% endblock %}
